{% extends '@App/Common/baseAdminPannel.html.twig' %}

    {% block title %}
        {{entityName|capitalize}}
    {% endblock %}

    {% block body %}
        <a class="loader" data-action="{{ path(entityName~'_new') }}">
            <button type="submit" class="btn btn-primary">
                Crear {{entityName}}
                <div class="ripple-container"></div>
            </button>
        </a>

        <div class="card-content table-responsive">
            <table id="filtredballots"
                   data-id-field="id"
                   data-show-refresh="true"
                   class="table table-hover"
                   data-toggle="table"
                   data-search="true"
                   data-pagination="true"
                   data-height="500"
                   data-page-list="[5, 10, 20, 50, 100, 200]"
                   data-show-columns="true"
                   data-side-pagination="server"
                   data-url="{{ path(fetchRoute) }}">
                <thead>
                <tr>

                    {% for field in fields %}
                        {% if field.name == "id" %}
                            <th data-field="id" data-visible="false">ID</th>
                        {% else %}
                            <th data-field="{{ field.name }}" data-sortable="true">{{ field.name|trans|capitalize }}</th>
                        {% endif %}
                    {% endfor %}
                    <th data-field="actions" data-sortable="false">{{ "actions"|trans|capitalize }}</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>


        {#

        <div class="card-content table-responsive">
            <table data-unique-id="id" id='assignedballots' class="table table-hover" data-toggle="table" data-search="true" data-show-columns="true">
                <thead>

                <tr>
                    <th data-field="id" data-visible="false">ID</th>

                    {% for field in fields %}
                        <th data-sortable="true" data-field="{{ field.name }}">{{ field.name|trans|capitalize }}</th>
                    {% endfor %}
                    <th>{{ "Actions"|trans  }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}

                    <tr>
                        <td>{{ entity.id }}</td>

                        {% for field in fields %}
                            <td>
                                {{ renderEntityField(entity, field) }}
                            </td>
                        {% endfor %}
                        <td>
                            <a class="loadinmodal" data-action="{{ path(entityName~'_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i></a>
                            <a class="loader" data-action="{{ path(entityName~'_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        #}

    {% endblock %}
