{% extends '@App/Common/baseAdminPannel.html.twig' %}

    {% block title %}
        {{'New'|trans}} {{entityName|trans}}
    {% endblock %}

    {% block body %}
    {{ form_start(form, {'attr':{'data-remote':'true', 'data-method':'POST', 'data-url':form.vars.action, 'data-redirect':path('traveler_dashboard')~'#'~path(entityName~'_index')}}) }}
    {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">{{'Create'|trans}} {{entiyName|trans}}<div class="ripple-container"></div></button>
    {{ form_end(form) }}
{% endblock %}
